@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: Open Sans, sans-serif ;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.inner_wrapper {
    display: flex;
    flex-direction: row;
 }

 .header {
     display: flex;
     flex-direction: column;
 }

 .header_top {
     display: flex;
     flex-direction: row ;
 }

 .header_center {
     display: flex;
     flex-direction: row;
 }

 .header_menu {
     display: flex;
     flex-direction: row;
 }

 .news_container {
     display: flex;
     flex-direction: row;
 }

 .footer {
     display: flex;
     flex-direction: column;
 }

 .footer_top {
     display: flex;
     flex-direction: row;
 }

 .footer_center {
     display: flex;
     flex-direction: row;
 }