@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: Open Sans, sans-serif;
    /*background-color: darkgrey;*/
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    font-family: Open Sans, sans-serif;
    font-weight: normal;
    line-height: 1.2;
    font-size: 16px;
    text-align: left;
    color: black;
}

.inner_wrapper {
    display: flex;
    flex-direction: row;
}

.header {
    display: flex;
    flex-direction: column;
}

.header_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    background-color: #37a14c;
    margin-bottom: 11px;
}

.header_icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header_center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.header_nav {
    width: auto;
    background: linear-gradient(#51c066, #329546);
    margin-bottom: 20px;
}

.header_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 45px;
}

.header_menu>li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 194px;
    height: 100%;
    border-right: 2px;
    border-style: ridge;
    border-color: #57e974;
    /*border-left: 1px solid #00000047;*/
}

.header_menu>li:first-child{
    border-left: 2px;
    border-style: ridge;
    border-color: #57e974;
}

.header_menu>li:hover{
    background: linear-gradient(#4cda67, #34a24a);
}

.header_menu>li>a {
    padding: 17px 0 10px;
    font-size: 16px;
    color: white;
}

.news_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 31px;
}

.footer {
    display: flex;
    flex-direction: column;
}

.footer_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(#fec50d, #fec60c, #f0b006);
}

.footer_center {
    display: flex;
    flex-direction: row;
}

.container {
    padding: 0 150px;
}

img {
    display: flex;
}

button {
    font-size: 16px;
    color: white;
}

a {
    color: black;
    text-decoration: none;
}

.text-white {
    color: white;
}

tbody, td a {
    color: #0f680e;
}

a[href^="tel:"] {
    font-size: 20px;
}

.text-black {
    color: black;
}

.skype-link {
    font-style: italic;
    color: #1200ff;
}

.header_menu, h1, h2, span {
    font-weight: bold;
}

article > p, figcaption > span, footer p {
    font-size: 14px;
    color: black;
}

menu > li > a, footer p.text-white {
    font-size: 20px;
}

.aside_inner_nav {
    color: #ff0000;
}

h1 {
    font-size: 24px;
    margin-bottom: 12px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
}

.vk {
    background-color: #54769c;
}

.fb {
    background-color: #004899;
}

.icon:not(:last-child) {
    margin-right: 6px;
}

.header_left_logo {
    margin-right: 37px;
}

.header_contacts {
    margin-right: 26px;
}

.header_buttons {
    margin-right: 17px;
}

.header_contacts td {
    white-space: nowrap;
}

table{
    /*height: 100px;*/
    /*border-spacing: 5px 4px;*/
}

.header_contacts_title {
    display: inline-block;
    width: 83px;
    margin-right: 5px;
}

.header_skype {
    display: flex;
    justify-content: space-between;
}

.header_admin_numbers:after {
    height: 4px;
    display: table-row;
    content: ''
}

.header_podonatu_numbers:after {
    height: 7px;
    display: table-row;
    content: ''
}

.header_buttons {

}

.header_buttons button {
    padding: 0;
    border: none;
    width: 136px;
    height: 37px;
    background-color: #ffc00f;
    border-radius: 3px;
    box-shadow: 0 2px 1px -1px black;
}

.header_buttons button:first-child {
    margin-bottom: 11px;
}

aside menu {
    width: 231px;
    list-style: none;
    margin-top: 5px;
    margin-right: 18px;
}
.aside_nav_black:not(:first-child) {
    padding: 20px 0 10px;
}

.aside_nav_black {
    border-bottom: 1px solid #e7e7e7;
}

.aside_nav_red {
    padding: 9px 0 2px 18px;
}

.section_main_p {
    margin: 19px 0 58px;
}

h2 {
    margin-bottom: 15px;
}

figcaption {
    /*height: 88px;*/
    width: 223px;
    padding: 14px 3px 10px 6px;
    color: white;
    background: linear-gradient(#309444, #45bc5c);
    border-bottom: 3px ridge #45bc5c;
}

span {
    display: inline-block;
    margin-bottom: 1px;
}