@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: Open Sans, sans-serif;
    background-color: darkgrey;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    font-family: Open Sans, sans-serif;
    font-weight: normal;
    line-height: 1.2;
    font-size: 16px;
    text-align: left;
    color: black;
}

.inner_wrapper {
    display: flex;
    flex-direction: row;
}

.header {
    display: flex;
    flex-direction: column;
}

.header_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    height: 54px;
    background-color: #37a14c;
}

.header_icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header_center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header_menu {
    display: flex;
    flex-direction: row;
}

.news_container {
    display: flex;
    flex-direction: row;
    font-size: 14px;
}

.footer {
    display: flex;
    flex-direction: column;
}

.footer_top {
    display: flex;
    flex-direction: row;
}

.footer_center {
    display: flex;
    flex-direction: row;
}

.container {
    padding: 0 150px;
}

img {
    display: flex;
}

button {
    font-size: 16px;
    color: white;
}

a {
    color: black;
    text-decoration: none;
}

.text-white {
    color: white;
}

figcaption {
    color: white;
}

tbody, td a {
    color: #0f680e;
}

a[href^="tel:"] {
    font-size: 20px;
}

.text-black {
    color: black;
}

.skype-link {
    font-style: italic;
    color: #1200ff;
}

.header_menu, h1, h2, span {
    font-weight: bold;
}

article > p, figcaption > span, footer p {
    font-size: 14px;
    color: black;
}

menu > li > a, footer p.text-white {
    font-size: 20px;
}

.aside_inner_nav {
    color: #ff0000;
}

h1 {
    font-size: 24px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
}

.vk {
    background-color: #54769c;
}

.fb {
    background-color: #004899;
}

.icon:not(:last-child) {
    margin-right: 6px;
}

.header_left_logo {
    margin-right: 37px;
}

.header_contacts {
    margin-right: 26px;
}

.header_buttons {
    margin-right: 17px;
}

.header_contacts_title {
    margin-right: 8px;
}